/* headings 1 */
h1 {
    font-family: "Brush Script MT", Garamond, serif;
    font-size: 43px;
    text-align: center;
}

/* pretty woman cooking */
.pwc {
    height: auto;
    width: 430px;
    margin: auto;
    display: block;
}

/* headings 2 */
h2 {
    font-family: "Brush Script MT", Garamond, serif;
    font-size: 34px;
}

/* mexican casserole */
.mc {
    height: auto;
    width: 430px;
    margin: auto;
    display: block;
}

/* egg in a pepper */
.ep {
    height: auto;
    width: 430px;
    margin: auto;
    display: block;
}

/* roasted cauliflower */
.rc {
    height: auto;
    width: 525px;
    margin: auto;
    display: block;
}

/* paragraphs n' lists */
.pnl {
    font-family: "Brush Script MT", Garamond, serif;
    font-size: 23px;
}